.app {
  min-height: 85vh;
  background-image: linear-gradient(
    to right bottom,
    var(--accent-color),
    var(--accent-color-dark)
  );
  box-shadow: 1rem 1rem 0.5rem var(--primary-color);
  text-align: center;
  overflow-y: scroll;

  &_header {
    font-size: var(--font-size-extra);
    letter-spacing: 1.2px;
    line-height: 1.5;
    font-weight: 600;
    padding-bottom: 0.75rem;
  }

  label {
    font-weight: 500;
  }

  &_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size);

    table {
      border-collapse: collapse;
    }

    td,
    th {
      border: 0.1rem solid var(--accent-color);
      padding: 0.3rem;
    }

    th {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      text-align: center;
      background-color: var(--success-color);
    }

    tr:nth-child(even) {
      background-color: var(--accent-color);
    }

    tr:hover {
      background-color: var(--accent-color-dark);
    }
  }
}
