.app {
  min-height: 85vh;
  padding: 0.3rem;
  background-image: linear-gradient(
    to right bottom,
    var(--accent-color),
    var(--accent-color-dark)
  );
  box-shadow: 1rem 1rem 0.5rem var(--primary-color);
  text-align: center;
  overflow-y: scroll;

  &_header {
    font-size: var(--font-size-extra);
    letter-spacing: 1.2px;
    line-height: 1.5;
    font-weight: 600;
    padding-bottom: 0.75rem;
  }

  label {
    font-weight: 500;
  }

  &_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: var(--font-size);

    .control_panel {
      display: flex;
      flex-direction: row;
      justify-items: end;
      align-items: end;
      padding: 0.75rem;

      button {
        font-size: var(--font-size);
        color: var(--text-color);
        width: 5rem;
        height: 2.5rem;
        border-radius: 0.3rem;
        border: transparent;

        &.warning {
          background-color: var(--warning-color);
          &:hover {
            border: 0.75rem;
            box-shadow: 0.3rem 0.3rem var(--accent-color-dark);
          }
        }
      }
    }

    .table_panel {
      overflow-x: scroll;
      table {
        border-collapse: collapse;
        font-size: 16px;
      }

      td,
      th {
        border: 0.1rem solid var(--accent-color);
        padding: 0.3rem;
      }

      th {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: center;
        background-color: var(--success-color);
      }

      tr:nth-child(even) {
        background-color: var(--accent-color);
      }

      tr:hover {
        background-color: var(--accent-color-dark);
      }
    }
  }
}
