.app {
  min-height: 85vh;
  background-image: linear-gradient(
    to right bottom,
    var(--accent-color),
    var(--accent-color-dark)
  );
  box-shadow: 1rem 1rem 0.5rem var(--primary-color);
  text-align: center;
  overflow-y: scroll;

  &_header {
    font-size: var(--font-size-extra);
    letter-spacing: 1.2px;
    line-height: 1.5;
    font-weight: 600;
    padding-bottom: 0.75rem;
  }

  label {
    font-weight: 500;
  }

  &_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size);
  }
}
