.app {
  text-align: center;
  background-color: var(--accent-color);
  min-height: 90vh;
}

.app_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app_link {
  color: #61dafb;
}