* {
  box-sizing: border-box;
}

:root {
  --primary-color: #6b8768;
  --accent-color: #2a3e28;
  --accent-color-dark: #192a17;
  --danger-color: #823a48;
  --success-color: #393f91;
  --warning-color: #7c624f;
  --text-color: #eeeaee;
  --link-color: #bee8ba;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--primary-color);

  font-size: 20px;
  --font-size: 20px;
  --font-size-extra: 24px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

a:link,
a:visited {
  color: var(--link-color);
  text-decoration: none;
}